.label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin: 5px 0;
}

.input {
    height: 30px;
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom: 1.1rem;
    border-style: none;
    border-bottom: 1px solid #080808;
}

.input:hover {
    border-bottom: 1px solid dodgerblue;
    /* box-shadow: 1px 0px 10px dodgerblue; */
}

.input:focus {
    -moz-box-shadow: 0 10px 12px dodgerblue;
    -webkit-box-shadow: 0 5px 12px dodgerblue;
    box-shadow: 0 5px 12px dodgerblue;
    border: none !important;
    border-style: none !important;
}

.show {
    transition: 0.3s !important;
    display: flex !important;
}

.hide {
    transition: 0.3s !important;
    display: none !important;
}


@media screen and (min-width: 900px) {
    .hide {
        transition: 0.3s !important;
        display: flex !important;
    }     
}